---
---

@import 'minima';

body {
  -webkit-font-smoothing: antialiased;
}

ul {
  margin-bottom: 30px;
}

li {
  font-size: 1.15rem;
  margin-bottom: 0.1em;
}

p {
  font-size: 1.15rem;
  margin: 30px 0;
}

a:hover {
  text-decoration: none;
  color: #2a7ae2;
}

a:visited {
  color: #2a7ae2;
}

a.site-title {
  font-weight: 500;
  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
    1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
    4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
    4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
    7px 6px 1px #cccccc;
}

.site-header {
  position: fixed;
  width: 100%;
  background: #fff;
}

.post-title {
  font-weight: 600;
}

.page-content {
  padding-top: 80px;
  -webkit-flex: 1; /* Safari 6.1+ */
  -ms-flex: 1; /* IE 10 */
  flex: 1;
}

.post-content h2 {
  margin-top: 50px;
  font-weight: 600;
}

.post-content h3 {
  font-weight: 600;
  margin: 20px 0;
}

.post-content h4 {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  font-style: italic;
}

.profile-image {
  border-radius: 50%;
  -webkit-box-shadow: 7px 7px 30px -6px rgba(117, 117, 117, 0.67);
  -moz-box-shadow: 7px 7px 30px -6px rgba(117, 117, 117, 0.67);
  box-shadow: 7px 7px 30px -6px rgba(117, 117, 117, 0.67);
}

h3.posts {
  margin: 0;
}

hr {
  margin: 30px auto;
  border: 1px dashed #868686;
}

/* pagination */
.pagination a,
.pagination span {
  padding: 7px 18px;
  border: 1px solid #eee;
  margin-left: -2px;
  margin-right: -2px;
  background-color: #ffffff;
  display: inline-block;
}

.pagination a {
  &:hover {
    background-color: #f1f1f1;
    color: #333;
  }
}

.pagination {
  text-align: center;
}
/* end pagination */

.center {
  display: block;
  margin: 0 auto 50px;
  width: 50%;
}

element.style {
  font-size: 1em;
  font-weight: 500;
}

input[type='checkbox' i] {
  font-size: 1em;
}
