---
---

@import 'minima';

body {
  -webkit-font-smoothing: antialiased;
}

ul {
  margin-bottom: 30px;
}

li {
  font-size: 1.15em;
  margin-bottom: 0.1em;
}

p {
  font-size: 1.15em;
  margin-bottom: 30px;
}

a:hover {
  text-decoration: none;
  color: #2a7ae2;
}

a:visited {
  color: #2a7ae2;
}

a.site-title {
  font-weight: 500;
  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
    1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
    4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
    4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
    7px 6px 1px #cccccc;
}

.site-header {
  position: fixed;
  width: 100%;
  background: #fff;
}

.page-content {
  padding: 80px 0;
}

.post-content h3 {
  font-weight: 600;
}

.profile-image {
  border-radius: 50%;
  -webkit-box-shadow: 7px 7px 30px -6px rgba(117, 117, 117, 0.67);
  -moz-box-shadow: 7px 7px 30px -6px rgba(117, 117, 117, 0.67);
  box-shadow: 7px 7px 30px -6px rgba(117, 117, 117, 0.67);
}

h3.posts {
  margin: 0;
}

hr {
  margin: 30px auto;
  border: 1px dashed #868686;
}
