<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ko" }}">

{%- include head.html -%}
<link rel="stylesheet" href="/assets/tomorrow-night-bright.css" />
<script src="/assets/js/highlight.pack.js"></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/favicon/site.webmanifest">

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {%- include footer.html -%}

</body>

</html>